@if(lessonForm && lessonForm.controls['title']) {
  <form [formGroup]="lessonForm" class="flex flex-col gap-4 p-6 w-full max-w-2xl" (ngSubmit)="submit()">
    <p-button label="Save" type="submit" [disabled]="lessonForm.invalid"></p-button>
    @if (isUpdatingLesson) {
      <p-button label="Back to lessons" [routerLink]="'../../'"></p-button>
    } @else {
      <p-button label="Back to lessons" [routerLink]="'../'"></p-button>
    }

    <h1>Lesson</h1>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1">
        <label class="font-bold text-text-color" for="lesson-title">lesson title</label>
        <input id="lesson-title" type="text" pInputText formControlName="title" />
        @if (this.errors['title']) {
          <p-message severity="error" variant="simple" size="small">{{ this.errors['title']}}</p-message>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label class="font-bold text-text-color" for="lesson-description">description</label>
        <textarea id="lesson-description" rows="5" cols="30" pTextarea formControlName="description"></textarea>
        @if (this.errors['description']) {
          <p-message severity="error" variant="simple" size="small">{{this.errors['description']}}</p-message>
        }
      </div>
    </div>
    <h1>Appointments</h1>
    <div formArrayName="appointments" class="flex flex-col gap-2">
      @for (control of appointments.controls; let i = $index; let l = $last; track trackByFn) {
        <div [formGroupName]="i" class="border-solid border-2 rounded-2xl border-amber-100 p-4 mb-4 card flex flex-col gap-1 ">
          @let group = appointments.at(i);
            <div class="flex flex-col gap-1">
              <label class="font-bold text-text-color" for="appointment-title">appointment title</label>
              <input id="appointment-title" type="text" pInputText formControlName="title" />
              @if (group.get('title')?.hasError("required") &&
                  (group.get('title')?.dirty || group.get('title')?.touched)) {
                <p-message severity="error" variant="simple" size="small">Please enter a title for the appointment</p-message>
              }
            </div>
            <div class="flex flex-row gap-4">
              <div class="flex flex-col gap-1">
                <label class="font-bold text-text-color" for="date">date</label>
                <p-date-picker
                  id="date"
                  type="string"
                  formControlName="date"
                  dateFormat="dd.mm.yy"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  [minDate]="minDate"
                  placeholder="01.01.2026"
                />
                @if (
                  group.get('date')?.hasError("required") &&
                  (group.get('date')?.dirty || group.get('date')?.touched)
                ) {
                  <p-message severity="error" variant="simple" size="small">Please enter a date for the appointment</p-message>
                }
              </div>

              <div class="flex flex-col gap-1">
                <label class="font-bold text-text-color" for="price">price</label>
                <p-input-group>
                  <p-input-number
                    id="price"
                    type="number"
                    formControlName="price"
                  >
                  </p-input-number>
                  <p-inputgroup-addon>€</p-inputgroup-addon>
                </p-input-group>
                @if (
                  group.get('price')?.hasError("required") &&
                  (group.get('price')?.dirty || group.get('price')?.touched)
                ) {
                  <p-message severity="error" variant="simple" size="small">Please enter a price for the appointment</p-message>
                }
              </div>
            </div>

            <div class="flex flex-row gap-4">
              <div class="flex flex-col gap-1">
                <label class="font-bold text-text-color" for="date">start time</label>
                <p-date-picker
                  id="start"
                  type="date"
                  formControlName="start"
                  [timeOnly]="true"
                  placeholder="00:00"
                />
                @if (
                  group.get('start')?.hasError("required") &&
                  (group.get('start')?.dirty || group.get('start')?.touched)
                ) {
                  <p-message severity="error" variant="simple" size="small">Please enter a start time</p-message>
                }
              </div>

              <div class="flex flex-col gap-1">
                <label class="font-bold text-text-color" for="date">end time</label>
                <p-date-picker
                  id="end"
                  type="date"
                  formControlName="end"
                  [timeOnly]="true"
                  placeholder="00:00"
                />
                @if (
                  group.get('end')?.hasError("required") &&
                  (group.get('end')?.dirty || group.get('end')?.touched)
                ) {
                  <p-message severity="error" variant="simple" size="small">Please enter a end time</p-message>
                }
                @if (group.hasError("startAfterEnd")) {
                  <p-message severity="error" size="small" variant="simple">Start time must be before end time</p-message>
                }
              </div>
          </div>
          <div class="flex justify-between pt-4">
            @if(l){
              <p-button
                label="Add Appointment"
                (click)="addAppointmentControl()"
                icon="pi pi-plus"
                [rounded]="true">
              </p-button>
            }
            <p-button label="Clear" (click)="clearAppointment(i)" [rounded]="true"></p-button>
            <p-button
              (click)="removeAppointment(i)"
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true">
            </p-button>
          </div>
        </div>
      }
    </div>
  </form>
}
  <p-toast></p-toast>
